{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- page content -->
<div class="right_col" role="main">

    <div class="page-title">
        <div class="title_left">
            <h1>Aditya Birla Cellulose</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <iframe allowFullScreen="true" frameborder="0" height="1060"
                    src="https://app.powerbi.com/view?r=eyJrIjoiYjJiNjI3MDEtNTU3Ni00NzBlLWJmNGYtMDY1ZTIzOGNjNmFjIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9"
                    title="AB Cellulose - Report" width="1024"></iframe>

        </div>
    </div>

</div>
<!-- /page content -->

{% endblock %}
