{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- page content -->
<div class="right_col" role="main">


    <div class="page-title">
        <div class="title_left">

            <h1>Aditya Birla Retailer Calling</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe allowFullScreen="true" frameborder="0" height="1060"
                    src="https://app.powerbi.com/view?r=eyJrIjoiNGQ3ODBlYTktYjZlOS00Mjc4LTkyN2UtMzliNDhiMDNlYzkxIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9"
                    title="Aditya Birla Retailer Calling - Dialer" width="1024"></iframe>
        </div>
    </div>

</div>
<!-- /page content -->

{% endblock %}
