{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- page content -->
<div class="right_col" role="main">


    <div class="page-title">
        <div class="title_left">
            <h1>Avenue Living Communities</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe allowFullScreen="true" frameborder="0" height="1060"
                    src="https://app.powerbi.com/view?r=eyJrIjoiNWQyN2UwN2EtMmQ1OS00YzMxLTliOGYtY2E1ZjkwNTg5MTM3IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection"
                    title="Avenue Living Communities - Activity Report" width="1024"></iframe>
        </div>
    </div>

</div>
<!-- /page content -->


{% endblock %}
