{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h1>Golden Eye CCTV</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <iframe allowFullScreen="true" frameborder="0" height="1060"
                    src="https://app.powerbi.com/view?r=eyJrIjoiMjk3MDY0MzMtYWJlMy00ZDVmLTkxMDAtMjdlNzZhOWYyZThkIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection36de054a79d0a9faf8c9"
                    title="Golden Eye CCTV" width="1024"></iframe>

        </div>
    </div>

</div>
<!-- /page content -->

{% endblock %}