{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h1>Kaapi Machines</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe title="Kaapi Machines" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiOWQyMzg3OWUtN2Y5Ni00Zjc2LTg1ZTAtYjg0NDM2ZTRlODI4IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSectionff65151433122b0407c8" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>

</div>
<!-- /page content -->

{% endblock %}