{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h1>Mobile 22</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe allowFullScreen="true" frameborder="0" height="1060"
                    src="https://app.powerbi.com/view?r=eyJrIjoiM2Q3MDZkYzUtNzE4ZC00ZjVlLWI2MTctMWY0MDhhOTZkMzM4IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection"
                    title="Mobile 22" width="1024"></iframe>
        </div>
    </div>

</div>
<!-- /page content -->


{% endblock %}