{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h1>Movement Insurance</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe title="Movement Insurance" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMzk3NGQyYWYtNjI2MC00MjY0LTgyMzItYTc0YjhmMDA1ODY5IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection3896ae928a954e4467eb" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>

</div>
<!-- /page content -->

{% endblock %}