{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h1>Printerpix</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe title="Printerpix" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZDY1NTg4N2ItOWM0ZC00NWE4LTljMGMtNTlhNjhjNGMwMWQzIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection1985b72946a36862ee8a" frameborder="0" allowFullScreen="true"></iframe>

        </div>
    </div>

</div>
<!-- /page content -->

{% endblock %}