{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h1>RainBow Diagnostics LTD</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe allowFullScreen="true" frameborder="0" height="1060"
                    src="https://app.powerbi.com/view?r=eyJrIjoiZWM0MmVlMTYtMGFkZi00ODJjLWFhMzQtMjQ0ZTY5ZGUxZDZiIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSectionf8ebcf225560cc8e518b"
                    title="RainBow Diagnostics LTS" width="1024"></iframe>
        </div>
    </div>

</div>
<!-- /page content -->

{% endblock %}