{% extends 'base.html' %}
{% load static %}
{% block main %}
         <!-- page content -->
        <div class="right_col" role="main">
          <div class="page-title">
            <div class="title_left">
              <h1>Sterling Strategies LLC</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 tabss">
              <ul class="nav nav-pills">
                <li><a class="btn btn-sm btn-success active" data-toggle="tab" href="#home1">Dailer</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#home">Report</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu1">Raw</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu2">Head Count</a></li>
              </ul>

              <div class="tab-content">
                <div id="home1" class="tab-pane fade show active">
                  <iframe title="Sterling Strategies Llc" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiN2EyMDFjYzktYjI3Mi00NWZjLTg0NWEtNmY5OTIwODEwNWY3IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection559572c9800a094ca896" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="home" class="tab-pane fade">
                  <iframe title="Sterling Strategies Llc" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiN2EyMDFjYzktYjI3Mi00NWZjLTg0NWEtNmY5OTIwODEwNWY3IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSectiona95699e998b657656a75" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <iframe title="Sterling Strategies Llc" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiN2EyMDFjYzktYjI3Mi00NWZjLTg0NWEtNmY5OTIwODEwNWY3IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSectionfb8845eeba94e4c6c2bf" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <iframe title="Sterling Strategies Llc" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiN2EyMDFjYzktYjI3Mi00NWZjLTg0NWEtNmY5OTIwODEwNWY3IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection8f7c9f704d250cd0a08c" frameborder="0" allowFullScreen="true"></iframe>
                </div>
              </div>
                 
            </div>
          </div>
        </div>
        <!-- /page content -->

{% endblock %}