{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h1>Window Treatment Unlimited</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe allowFullScreen="true" frameborder="0" height="1060"
                    src="https://app.powerbi.com/view?r=eyJrIjoiYzQ4YzVjYzktMDdhMC00MTYwLTgxYTEtZTlmNzc2M2Q3YTM5IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSectionb3e9716b08c93664b1ee"
                    title="Window Treatment Unlimited" width="1024"></iframe>

        </div>
    </div>

</div>
<!-- /page content -->

{% endblock %}