{% extends 'base.html' %}
{% load static %}
{% block main %}


<!-- page content -->
<div class="right_col" role="main">


    <div class="page-title">
        <div class="title_left">
            <h1>All Care Physical Therapy</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe allowFullScreen="true" frameborder="0" height="1060"
                    src="https://app.powerbi.com/view?r=eyJrIjoiOTViMWQzZDUtODBiNC00OWJhLWFhMDgtOThkMGRjZWVlY2NkIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9"
                    title="All Care Physical Therapy - QA Report" width="1024"></iframe>

        </div>
    </div>

</div>
<!-- /page content -->


{% endblock %}
