{% extends 'base.html' %}
{% load static %}
{% block main %}

        <!-- page content -->
        <div class="right_col" role="main">


          <div class="page-title">
            <div class="title_left">
              <h1>Arista MD</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 tabss">
              <ul class="nav nav-pills">
                <li><a class="btn btn-sm btn-success active" data-toggle="tab" href="#home">Head Count</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu1">QA</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu2">Page 1</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade show active">
                  <iframe width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiZTg1NzczZTEtM2QxYS00ZGVhLWIxYWMtOTYzMDQ4YWRkODM2IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <iframe width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZTg1NzczZTEtM2QxYS00ZGVhLWIxYWMtOTYzMDQ4YWRkODM2IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSectiondb42e5b4077e06580ba0" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <iframe width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZTg1NzczZTEtM2QxYS00ZGVhLWIxYWMtOTYzMDQ4YWRkODM2IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSectiona3107b8a85374062066e" frameborder="0" allowFullScreen="true"></iframe>
                </div>
              </div>
                 
            </div>
          </div>

        </div>
        <!-- /page content -->


{% endblock %}
