{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- page content -->
<div class="right_col" role="main">


    <div class="page-title">
        <div class="title_left">
            <h1>Central Mortgage</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe allowFullScreen="true" frameborder="0"
                    height="804"
                    src="https://app.powerbi.com/view?r=eyJrIjoiN2NlZjViYWUtNTkyMy00MjYxLWFkYWUtMDQwNGM2YTc1Njc3IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection" width="1024"></iframe>

        </div>
    </div>

</div>
<!-- /page content -->


{% endblock %}
