{% extends 'base.html' %}
{% load static %}
{% block main %}

        <!-- page content -->
        <div class="right_col" role="main">


          <div class="page-title">
            <div class="title_left">
              <h1>Hard hat Technologies</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 tabss">
              <ul class="nav nav-pills">
                <li><a class="btn btn-sm btn-success active" data-toggle="tab" href="#home">Report</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu1">Head Count</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu2">QA</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu3">Page 1</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade show active">
                  <iframe width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiZjQ3YTVlYmYtYjBhYi00NWNmLThiYmQtOWIwNmY4YjVkM2NmIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection88aefdf3608ec84b040c" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <iframe width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZjQ3YTVlYmYtYjBhYi00NWNmLThiYmQtOWIwNmY4YjVkM2NmIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <iframe width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZjQ3YTVlYmYtYjBhYi00NWNmLThiYmQtOWIwNmY4YjVkM2NmIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSectiondd8853fe34aba50a911a" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu3" class="tab-pane fade">
                  <iframe width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZjQ3YTVlYmYtYjBhYi00NWNmLThiYmQtOWIwNmY4YjVkM2NmIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection94a2e958908dab024d65" frameborder="0" allowFullScreen="true"></iframe>
                </div>
              </div>
                 
            </div>
          </div>

        </div>
        <!-- /page content -->


{% endblock %}
