{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h1>Redefine Plastics</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe title="Redefine Plastics" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiOTZkYTUwNjktYjI1Ny00YzA1LTk3MjAtOGExMzUyNjM5YTM2IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>

</div>
<!-- /page content -->


{% endblock %}
