{% extends 'base.html' %}
{% load static %}
{% block main %}

        <!-- page content -->
        <div class="right_col" role="main">


          <div class="page-title">
            <div class="title_left">
              <h1>Spoiled child Analytics</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 tabss">
              <ul class="nav nav-pills">
                <li><a class="btn btn-sm btn-success active" data-toggle="tab" href="#home">Summary</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu1">Comparison</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu2">Growth Analysis</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu3">Productivity</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade show active">
                  <iframe width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiMGMxMWMzYmQtZmZkYi00YjJlLWE4NjAtZGI5MmVlODczZDVjIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <iframe width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiMGMxMWMzYmQtZmZkYi00YjJlLWE4NjAtZGI5MmVlODczZDVjIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection7223dee973d7e7184386" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <iframe width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiMGMxMWMzYmQtZmZkYi00YjJlLWE4NjAtZGI5MmVlODczZDVjIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection5ae01f05155c42068e90" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu3" class="tab-pane fade">
                  <iframe width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiMGMxMWMzYmQtZmZkYi00YjJlLWE4NjAtZGI5MmVlODczZDVjIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection48cab600425b3d3c3292" frameborder="0" allowFullScreen="true"></iframe>
                </div>
              </div>
                 
            </div>
          </div>

        </div>
        <!-- /page content -->


{% endblock %}
