{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- page content -->
<div class="right_col" role="main">


    <div class="page-title">
        <div class="title_left">
            <h1>Venwiz</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe title="Venwiz" width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiMDdiNDVkYjktMDFiNi00NGJjLWEyNzYtNzgwMDZlNTQ0OGQ2IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection43ae1227cfb5ecd7292d" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>

</div>
<!-- /page content -->


{% endblock %}
