{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- page content -->
<div class="right_col" role="main">


    <div class="page-title">
        <div class="title_left">
            <h1>UPS Domestic</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe title="UPS Domestic - Head Count" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNjE5NWQzOTYtNzk1OC00NTk2LThlYTMtNjkzNWQ2ZDI2MWQ3IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>

</div>
<!-- /page content -->


{% endblock %}
