{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- page content -->
<div class="right_col" role="main">

    <div class="page-title">
        <div class="title_left">
            <h1>Open Winds</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe title="Open Winds" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNTdmMGUzZWYtNzNhOS00YTkzLWJiY2QtNWM2MjU3NTk3YWJiIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection4326980241bbcad4cdcc" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>

</div>
<!-- /page content -->


{% endblock %}
