{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- page content -->
<div class="right_col" role="main">

    <div class="page-title">
        <div class="title_left">
            <h1>South County Endocrinology and Obesity Medicine</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe title="South County Endocrinology and Obesity Medicine" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNjAzNjVmN2EtYzJiYS00ZGNjLWIzOWItM2Q2NjU4NzcxZDc0IiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>

</div>
<!-- /page content -->


{% endblock %}
