{% extends 'base.html' %}
{% load static %}

{% block main %}


        <!-- page content -->
        <div class="right_col" role="main">

          <div class="row mb-3">
            <div class="col-md-3">
              <div class="card-base">
                <div class="card-icon">
                  <span title="All Campaigns" class="imagecard widgetCardIcon">
                    <i class="fa fa-clipboard"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">All Campaigns</h2>
                    <h1>{{all}}</h1>
                    <a href="/pbireport/campaigns/all" title="All Campaigns" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Outbound Campaigns" class="imagecard widgetCardIcon" style="background: #fcbf55 !important; box-shadow: 1px 2px 5px 0 rgba(252, 191, 85,0.25), 0 2px 10px 0 rgba(252, 191, 85,0.25)">
                    <i class="fa fa-phone-volume">&#xf2a0;</i>
                  </span>
                  <div class="card-data widgetCardData" style="box-shadow: 1px 2px 5px 0 rgba(252, 191, 85,0.25), 0 2px 10px 0 rgba(252, 191, 85,0.25)">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Outbound Campaigns</h2>
                    <h1>{{outbound}}</h1>
                    <a href="/pbireport/campaigns/Outbound" title="Outbound Campaigns" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Inbound Campaigns" class="imagecard widgetCardIcon" style="background: #0aaa4d !important; box-shadow: 1px 2px 5px 0 rgba(10, 170, 77,0.25), 0 2px 10px 0 rgba(10, 170, 77,0.25)">
                    <i class="fa fa-headphones"></i>
                  </span>
                  <div class="card-data widgetCardData" style="box-shadow: 1px 2px 5px 0 rgba(10, 170, 77,0.25), 0 2px 10px 0 rgba(10, 170, 77,0.25)">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Inbound Campaigns</h2>
                    <h1>{{inbound}}</h1>
                    <a href="/pbireport/campaigns/Inbound" title="Inbound Campaigns" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Email Campaigns" class="imagecard widgetCardIcon" style="background: #fe5f55 !important; box-shadow: 1px 2px 5px 0 rgba(254, 95, 85,0.25), 0 2px 10px 0 rgba(254, 95, 85,0.25)">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <div class="card-data widgetCardData" style=" box-shadow: 1px 2px 5px 0 rgba(254, 95, 85,0.25), 0 2px 10px 0 rgba(254, 95, 85,0.25)">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Email Campaigns</h2>
                    <h1>{{email}}</h1>
                    <a href="/pbireport/campaigns/Email" title="Email Campaigns" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Other Campaigns" class="imagecard widgetCardIcon">
                    <i class="fa fa-list-alt"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Other Campaigns</h2>
                    <h1>{{other}}</h1>
                    <a href="/pbireport/campaigns/Other" title="Other Campaigns" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
          </div>


        </div>
        <!-- /page content -->

{% endblock %}

{% block scripts %}
<script>

  $today = new Date();
  $today = moment($today).format("YYYY-MM-DD");

  $cam_start = $("#cam_start");
  $cam_end = $("#cam_end");
  $cam_start.attr("max",$today)
  $cam_end.attr("max",$today)
  function cam_end_datefn(){
    $cam_start = $("#cam_start").val()
    $cam_end.attr("min",$cam_start)
    $cam_end.attr("required","required")
  }


  $start = $("#start");
  $end = $("#end");
  $start.attr("max",$today)
  $end.attr("max",$today)
  function end_datefn(){
    $start = $("#start").val()
    $end.attr("min",$start)
    $end.attr("required","required")
  }

</script>
{% endblock %}