{% extends 'base.html' %}
{% load static %}
{% block main %}


        <!-- page content -->
        <div class="right_col" role="main">


          <div class="page-title">
            <div class="title_left">
              <h1>Global Arc</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 tabss">
              <ul class="nav nav-pills">
                <li><a class="btn btn-sm btn-success active" data-toggle="tab" href="#home">HIR</a></a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu1">Mahindra</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade show active">
                  <iframe title="Global Arc - HIR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZWY2MWFmMDItMDZmMy00ZDE5LTkzZDctMWQzODVlZjAzZmVkIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <iframe title="Global Arc - HIR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZWY2MWFmMDItMDZmMy00ZDE5LTkzZDctMWQzODVlZjAzZmVkIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection345c768ca94082dcb352" frameborder="0" allowFullScreen="true"></iframe>
                </div>
              </div>
                 
            </div>
          </div>

        </div>
        <!-- /page content -->


{% endblock %}
